/* shared style */
*{  margin: 0%;
    padding: 0%;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

/* main style */
header{
   background-color: #fff8f3; 
   padding-top: 50px;
   /* to add background pictures */
   background: url(../images/developer.png), url(../images/header_bg.png) #fff8f3;
   background-position: top left, bottom right;
   background-repeat: no-repeat;
}
nav{
    width: 98%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: orange;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #4f4f4f;
    text-decoration: none;
}

.btn{
    background-color: #FD6E0A;
    border-style: none;
    border-radius: 5px;
    padding: 18px 35px;
    color: white;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    
}

#banner{
    /*border: 1px solid red;*/
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #4f4f4f;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;  
}

#banner .banner-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;  

}

#banner .banner-image img{
    max-width: 585px;
    /* to remove the bottom gap of the image */
    vertical-align: middle;
}

#about, #skills, #resume{
    padding-top: 130px;
}
#about .about-container{
   width: 71%;
   max-width: 1140px;
   margin: 0% auto; 
   background-color: #fff8f3;
   text-align: center;
   padding: 130px 156px 132px 157px;
}

.section-heading{
    max-width: 827px;
     text-align: center;
     margin: 0% auto;
}

   .section-heading h2{ 
   margin-bottom: 30px;
   color: #181818;
   font-size: 35px;
   font-weight: bold;
   }

   .section-heading p{
    margin-bottom: 30px;
   color: #181818;
   font-size: 18px;
   line-height: 30px;
   }
   #about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
   font-size: 20px;
}


#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
}

.skill-box .skill-card{
    padding: 30px;
    /* border: 1px solid red; */
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #0000001a;
}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p{
    font-size: 16px;
    line-height: 28px;
}

#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.resume-container .section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}

.resume-container hr{
    margin: 30px 0;
}

.resume-card{
    width: 511px;
    margin-right: 47px;
}

.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}

.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}

.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
    