/* shared style */
*{  margin: 0%;
    padding: 0%;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

/* main style */
header{
   background-color: #fff8f3; 
   padding-top: 50px;
   /* to add background pictures */
   background: url(../images/developer.png), url(../images/header_bg.png) #fff8f3;
   background-position: top left, bottom right;
   background-repeat: no-repeat;
}
nav{
    width: 98%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: orange;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #4f4f4f;
    text-decoration: none;
}

.btn{
    background-color: #FD6E0A;
    border-style: none;
    border-radius: 5px;
    padding: 18px 35px;
    color: white;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    
}

#banner{
    /*border: 1px solid red;*/
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #4f4f4f;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;  
}

#banner .banner-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;  

}

#banner .banner-image img{
    max-width: 585px;
    /* to remove the bottom gap of the image */
    vertical-align: middle;
}
